body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-name h1{
  color: white;
}
.app-name span{
  color: yellowgreen;
}
.head-sect{
  text-align: left;
}

.home-sect{
  background-color: #0b0d21;
}


.expense-container{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}
.expense-det{
  background-color: #0b0d21;
  width: 25%;
  margin: 2%;
  padding: 2%;
  border-radius: 10%;
  color: white;
}
.expense-det span{
  color: yellowgreen;
}
